<section>

  <div class="col-lg-12">

    <article class="row">
      <div class="col-lg-12 image-center" style="background-image:url(<%= @project.image.large_1024 %>);">
        <% if @project.descriptions.present? %>
          <div class="image-description location">
            <%= link_to '#map' do %>
              <i class="fa fa-location-arrow"></i>
              <%= @project.descriptions.first.text %>
            <% end %>
         </div>
        <% end %>
      </div>
    </article>

    <article class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 image-center" style="background-image:url(<%= @project.random_images[0].medium_800 %>);">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 image-center" style="background-image:url(<%= @project.random_images[1].medium_800 %>);">
      </div>
      <div class="col-sm-12 col-md-4 image-center" style="background-image:url(<%= @project.random_images[2].medium_800 %>);">
      </div>
    </article>

    <article class="row">
      <div class="col-lg-12 map-center" id="map">
        <% content_for :javascripts do %>
          <script type='text/javascript'>
            handler = Gmaps.build('Google');
            handler.buildMap({
                provider: {
                  draggable: false,
                  scrollwheel: false
                },
                internal: {id: 'map'}
              }, function(){
              markers = handler.addMarkers(<%=raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              handler.getMap().setZoom(15);
            });
          </script>
        <% end %>
      </div>
    </article>

    <article class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 image-center" style="background-image:url(<%= @project.random_images[3].medium_800 %>);">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 image-center" style="background-image:url(<%= @project.random_images[4].medium_800 %>);">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 image-center" style="background-image:url(<%= @project.random_images[5].medium_800 %>);">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 image-center" style="background-image:url(<%= @project.random_images[6].medium_800 %>);">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 image-center" style="background-image:url(<%= @project.random_images[7].medium_800 %>);">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-4 image-center" style="background-image:url(<%= @project.random_images[8].medium_800 %>);">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 image-center" style="background-image:url(<%= @project.random_images[9].medium_800 %>);">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 image-center" style="background-image:url(<%= @project.random_images[10].medium_800 %>);">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-3 image-center" style="background-image:url(<%= @project.random_images[11].medium_800 %>);">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-3 image-center" style="background-image:url(<%= @project.random_images[12].medium_800 %>);">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-4 image-center" style="background-image:url(<%= @project.random_images[13].medium_800 %>);">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-4 image-center" style="background-image:url(<%= @project.random_images[14].medium_800 %>);">
      </div>

      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-4 image-center" style="background-image:url(<%= @project.random_images[15].medium_800 %>);">
      </div>

    </article>

  </div>

</section>
