<%= render 'breadcrumb', object: @admin_project %>
<article class="row">
  <%= form_tag update_multiple_images_admin_project_path, method: :put, html: { class: "form-horizontal", role: "form" } do %>
    <% @admin_images.each do |image| %>
      <%= fields_for "project_assets[]", image do |f| %>
        <div class="col-xs-3 admin-block-image" style="background-image:url(<%= image.square_150x150 %>);">
          <div class="id-number">
            <label>
              #<%= image.id %>
              <%= check_box_tag "project_assets[]", image.id, @admin_project.images.include?(image) %>
            </label>
          </div>
          <div class="form-group">
            <%= f.label :name, class: "col-sm-2 control-label" %>
          </div>
          <div class="admin-file-name">
            <p><%= File.basename image.square_75x75 %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= submit_tag "Save", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</article>
