<h2>Projects</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Permalink</th>
      <th>Sequence</th>
      <th>Published</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_projects.each do |adm_pr| %>
      <tr class=<%= "danger" unless adm_pr.published? %> >
        <td><%= adm_pr.id %></td>
        <td><%= link_to adm_pr.title, adm_pr %></td>
        <td><%= adm_pr.permalink %></td>
        <td><%= adm_pr.sequence %></td>
        <td><%= adm_pr.published %></td>
        <td><%= link_to 'Edit', edit_admin_project_path(adm_pr) %></td>
        <td><%= link_to 'Destroy', adm_pr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_admin_project_path %>
