<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_image.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @admin_image.url %>
</p>

<%= link_to 'Edit', edit_admin_image_path(@admin_image) %> |
<%= link_to 'Back', admin_images_path %>
